


#body {
  width: 100%;
  /* margin-left: -28%; */

  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 4em; */
}

.split {
  width: 150%;
  margin-left: -28%;

  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-areas: 'l r' 'b b';
  grid-template-columns: 1fr 1fr;
  gap: 4em;
}

.l {
  grid-area: l;
}


h1 a {
  color: var(--c3);
}

h1 a:hover {
  color: var(--c3a);
}

.margin {
  margin: 0 1em;
}

.examples-title {
  font-weight: bold;
}

.examples-container {
  background-color: var(--c10);
  padding: 1em;
  /* border-radius: 0.5em; */
  border: 3px solid var(--c1);
}

.examples-container code {
  background-color: transparent;
  padding-left: 0;
}

.resources-list {
  background-color: var(--c10);
  padding: 1em;
  /* border-radius: 0.5em; */
  border: 3px solid var(--c1);
}

.examples-grid {
  display: grid;
  grid-template-columns: 10em 1fr;
}



.editor-container {
  height: 100%;
  display: grid;
  grid-template-rows: 3em 1fr;
  background-color: #1d2021;
  grid-area: r;
}


.editor-head input {
  float: right;
  position: relative;
  margin: 0 !important;
  padding: 7px 12px;
}


.editor-title {
  /* background-color: var(--c1); */
  color: var(--c10);
  padding: 0.75em 1em 0 1em;
  flex-grow: 1;
}

input[type="button"] {
  margin: 0em 1em 1em 0em;
  border: none;
}

.buttons {
  display: flex;
  justify-content: end;
}

.submit-button {
  background-color: var(--c2);
  /* font-weight: bold; */
}
.submit-button:hover {
  background-color: var(--c2a);
}

.clear-button {
  background-color: var(--c3);
}
.clear-button:hover {
  background-color: var(--c3a);
}

#editor {
  margin: 0em 1em 0em 1em;
  border: 1px solid var(--c4);
  font-size: 11pt;
}

#test-container {
  grid-area: b;
}

.testcases {
  display: grid;
  grid-template-columns: 12em 1fr 1fr 3em;
  gap: 0;
  z-index: 100;
  border: 1px solid black;
}

.testcases code {
  background-color: none;
  padding-left: 0;
  border-radius: 0;
}

.passed {
  background-color: var(--c2) !important;
}

.failed {
  background-color: var(--c3) !important;
}

.grid-item {
  background-color: var(--c10);
  padding: 0.5em;
  border: 1px solid black;
}

.test-comment {
  /* grid-column: 1 / 1; */
}

.test-comment2 {
  grid-column: 2 / 5;
}

.testcases p {
  margin: 0;
}

.grid-item.test-head {
  background-color: var(--c1);
}

.incorrect {
  color: var(--c3)
}
