:root {
    --c1: #e4e6c3;
    --c2: #c5d86d;
    --c2a: #b2c16c;
    --c3: #717744;
    --c3: #f96e46;
    --c3a: #c55737;
    --c4: #261C15;
    --c10: #EEEFDB;
}

/* https://coolors.co/c5d86d-261c15-f7f7f2-eeefdb-e4e6c3-f05d23 */

body {
    margin: 0;
    padding: 0;
    font-family: NotoSans;
}

a {
    text-decoration: none;
}

code {
    background-color: #00000026;
    border-radius: 4px;
    padding: 1px 6px;
    font-size: 12pt;
}

@font-face {
    font-family: NotoSans;
    src: url(/assets/NotoSansJP-Regular.otf);
}

#header {
    padding: 1.5em 0.5em 1.5em 2.5em;
    background-color: var(--c1);
    /* border-bottom: 2px solid var(--c4); */
}

.logo a {
    color: var(--c4);
    cursor: pointer;
}

#logo-text {
    font-weight: 500;
    background-color: var(--c1);
    width: 5em;
    line-height: 0.7;
    position: relative;
    top: -1.2em;
    margin-bottom: -1.2em;
    padding: 0.1em 0.15em;
    border-radius: 0.3em 0 0 0;
}

#logo-svg {
    width: 1.5em;
    position: relative;
    left: -0.6em;
    /* top: 1.2em; */
    opacity: 0.5;
}



#login-buttons {
    display: flex;
    justify-content: end;
    gap: 1em;
}

input[type="button"] {
    padding: 0.5em 1.2em;
    font-size: 1.1em;
    font-family: NotoSans;
    border-radius: 0.3em;
    cursor: pointer;
}

#login-button {
    background-color: white;
    border: 1px solid lightgray;
}

#login-button:hover {
    background-color: #efefef;
}

#signup-button {
    background-color: var(--c2);
    border: 1px transparent solid;
}

#signup-button:hover {
    background-color: var(--c2a);
}


.center {
    max-width: 60em;
    margin: auto;
}

#navigation {
    background-color: #f7f7f2;
    display: flex;
}

.navigation-selected {
    font-weight: bold;
    background-color: #00000010;
    border-bottom: 3px solid var(--c2) !important;
}

.navigation-link {
    text-align: center;
    font-size: 15pt;
    /* padding: 0.5em 0; */
    flex-grow: 1;
    /* border-bottom: 3px solid transparent; */
    color: var(--c4);
    cursor: pointer;
}
.navigation-link-content {
    margin: 0;
  padding: 12px 16px;
  display: block;
    color: black;
}


.navigation-link:hover {
    background-color: lightgray;
    border-bottom: 3px solid var(--c3) !important;
    /* border-bottom: 3px solid  !important; */
}

.body {
    padding: 2em;
    width: 45em;
    margin: auto;
}

.header-split {
    display: grid;
    grid-template-columns: 1fr 20em;
}

.header-split-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 1em 0 0;
}

#footer {
    margin-top: 5em;
    text-align: center;
    background-color: var(--c10);
    height: 100%;
}
