

/* .body { */
/*   width: 40em; */
/*   margin: auto; */
/* } */



h1 {
  font-size: 22pt;
  margin-top: 1.5em;
  color: var(--c3)
}

h2 {
  font-size: 18pt;
  margin-top: 1.5em;
  color: var(--c3a)
}

.no-top {
  margin-top: 0 !important;
}

.red {
  color: var(--c3) !important;
}

.bold {
  font-weight: bold;
}
